.hero-section {
    &.hero-home {
        @include media-breakpoint-up(xl) {
            padding-top: 170px;
        }

        .container-fluid {
            max-width: 1440px;
        }
    }

    .hero-buttons {
        padding-top: 50px;
        @include media-breakpoint-up(lg) {
            padding-top: 80px;
        }

        .btn {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    .main-image {
        max-width: 708px;
        max-height: 638px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
        }
    }
}