<hr />
<div class="multi-level-section">
  <h4>
    <button
      class="link-with-arrow collapsed"
      data-toggle="collapse"
      data-target="#collapse-5"
      aria-expanded="false"
      aria-controls="collapse-5"
    >
      Manager Actions
    </button>
  </h4>
  <div
    class="card-content collapse"
    id="collapse-5"
    aria-labelledby="heading-5"
  >
    <div class="card-body">
      <p>You can see this because you have admin premissions</p>
      <div class="row">
        <div class="col-xl-6">
          <div class="section-card">
            <div class="card-header">
              <div class="card-info">
                <div class="card-icon">
                  <img src="assets/img/icon-6.svg" alt="icon" />
                </div>
                <span class="card-description">A Candidate offer letter</span>
              </div>
              <div class="card-actions">
                <button
                  class="btn btn-warning btn-sm"
                  data-toggle="modal"
                  data-target="#staticBackdrop"
                  (click)="setDocumentType(documentType.Offer)"
                >
                  Send
                </button>
                <button
                  class="btn btn-link link-with-arrow collapsed"
                  data-toggle="collapse"
                  data-target="#collapse-6"
                  aria-expanded="false"
                  aria-controls="collapse-6"
                >
                  View info
                </button>
              </div>
            </div>
            <div
              class="card-content collapse"
              id="collapse-6"
              aria-labelledby="heading-6"
            >
              <div class="card-body">
                <span class="card-body-title"
                  >Tрis action demonstrates the following DocuSign API
                  functions:</span
                >
                <ul>
                  <li>Templates1111</li>
                  <li>Calculatd fields</li>
                  <li>ets.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="section-card">
            <div class="card-header">
              <div class="card-info">
                <div class="card-icon">
                  <img src="assets/img/icon-7.svg" alt="icon" />
                </div>
                <span class="card-description"
                  >An I-9 verification request</span
                >
              </div>
              <div class="card-actions">
                <button
                  class="btn btn-warning btn-sm"
                  data-toggle="modal"
                  data-target="#staticBackdrop"
                  (click)="setDocumentType(documentType.I9)"
                >
                  Send
                </button>
                <button
                  class="btn btn-link link-with-arrow collapsed"
                  data-toggle="collapse"
                  data-target="#collapse-7"
                  aria-expanded="false"
                  aria-controls="collapse-7"
                >
                  View info
                </button>
              </div>
            </div>
            <div
              class="card-content collapse"
              id="collapse-7"
              aria-labelledby="heading-7"
            >
              <div class="card-body">
                <span class="card-body-title"
                  >Tрis action demonstrates the following DocuSign API
                  functions:</span
                >
                <ul>
                  <li>Templates1111</li>
                  <li>Calculatd fields</li>
                  <li>ets.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="staticBackdrop"
          data-backdrop="static"
          data-keyboard="false"
          tabindex="-1"
          role="dialog"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  Modal title
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form
                [formGroup]="additionalUserForm"
                novalidate
                (ngSubmit)="sendEnvelope()"
              >
                <div class="modal-body">
                  <div class="form-group">
                    <label for="user-name" class="col-form-label">Name:</label>
                    <input
                      formControlName="Name"
                      type="text"
                      class="form-control"
                      id="user-name"
                    />
                    <div
                      class="alert alert-danger"
                      *ngIf="
                        additionalUserForm.controls['Name'].invalid &&
                        additionalUserForm.controls['Name'].touched
                      "
                    >
                      Name is required
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="user-email" class="col-form-label"
                      >Email:</label
                    >
                    <input
                      formControlName="Email"
                      type="text"
                      class="form-control"
                      id="user-email"
                    />
                    <div
                      class="alert alert-danger"
                      *ngIf="
                        additionalUserForm.controls['Email'].invalid &&
                        additionalUserForm.controls['Email'].touched
                      "
                    >
                      Incorrect e-mail
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    [disabled]="additionalUserForm.invalid"
                    class="btn btn-primary"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
