.header {
    background-color: $white;
    @include media-breakpoint-up(lg) {
        padding-top: 30px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .container-fluid {
        max-width: 1440px;
    }

    .navbar-brand {
        font-family: $nunito;
        font-weight: $font-weight-extra-bold;
        @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
        }
    }

    .navbar-brand-image {
        background-color: red;
        //padding: 18px 15px 7px;
        //width: 55px;
        margin-right: 10px;
        @include media-breakpoint-up(md) {
            width: 31px;
            height: 31px;
            padding: 0;
        }

        img {
            width: 100%;
        }
    }

    .navbar-toggler {
        border-color: transparent;
        height: 18px;
        width: 24px;
        position: relative;
        z-index: 3;

        &.collapsed {
            .line {

            }
        }

        .line {
            width: 24px;
            height: 2px;
            position: absolute;
            z-index: 2;
            left: 0;
            background-color: $black;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 7px;
            }

            &:nth-child(3) {
                bottom: 0;
            }
        }
    }

    .navbar-collapse {
        transition: right .3s;
        @include media-breakpoint-down(md) {
            display: block !important;
            position: fixed;
            top: 0;
            right: -100%;
            bottom: 0;
            background-color: $body-bg;
            width: 220px;
            height: 100%;
            padding-top: 60px;
            z-index: 2;
        }

        &.show {
            @include media-breakpoint-down(lg) {
                right: 0;
            }
        }
    }

    .nav-item {
        border: 2px solid transparent;
        position: relative;
        @include media-breakpoint-up(lg) {
            font-size: 14px;
            line-height: 19px;
        }

        &.active {

            &:before {
                content: '';
                width: 3px;
                background-color: $danger;
                position: absolute;
                top: 0;
                bottom: 0;
                @include media-breakpoint-up(lg) {
                    width: auto;
                    height: 3px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: auto;
                }
            }
        }
    }

    .nav-link {
        padding-left: 20px;
        padding-right: 20px;
    }
}