<section class="container content-section">
    <h2 class="page-title" translate>
        Employee.Header
        <span class="sub-title" translate>Employee.Description</span>
    </h2>
    <div class="row">
        <ng-container *ngIf="!isEditUser">
            <app-profile (editUserClicked)="editUser()" [user]="user" class="col-lg-5"></app-profile>
        </ng-container>
        <ng-container *ngIf="isEditUser">
            <app-profile-edit (canceled)="cancelEdit()" (saved)="exitSaving($event)" [user]="user" class="col-lg-5"></app-profile-edit>
        </ng-container>
        <app-employee-actions class="col-lg-7"></app-employee-actions>
    </div>
    <app-manager-actions></app-manager-actions>
    <app-notification></app-notification>
</section>

<!-- template -->
<ng-template #directDepositTemplate>
    <ul>
        <li translate>
            Notifications.DirectDepositTemplate.PrimaryAccountNumber<span class="modal-success-value">{{
                directDepositPayload.PrimaryAccountNumber
            }}</span>
        </li>
        <li translate>
            Notifications.DirectDepositTemplate.PrimaryRoutingNumber<span class="modal-success-value">{{
                directDepositPayload.PrimaryRoutingNumber
            }}</span>
        </li>
        <li translate>
            Notifications.DirectDepositTemplate.PercentageAllocationFirstAccount<span class="modal-success-value">{{
                directDepositPayload.PercentageFirstAccount
            }}</span>
        </li>
        <li translate>
            Notifications.DirectDepositTemplate.SecondaryRoutingNumber<span class="modal-success-value">{{
                directDepositPayload.SecondaryRoutingNumber
            }}</span>
        </li>
        <li translate>
            Notifications.DirectDepositTemplate.SecondaryAccountNumber<span class="modal-success-value">{{
                directDepositPayload.SecondaryAccountNumber
            }}</span>
        </li>
        <li translate>
            Notifications.DirectDepositTemplate.PercentageAllocationSecondAccount<span class="modal-success-value">{{
                directDepositPayload.PercentageSecondAccount
            }}</span>
        </li>
        <li translate>
            Notifications.DirectDepositTemplate.Date<span class="modal-success-value">{{ directDepositPayload['Date Signed'] }}</span>
        </li>
    </ul>
</ng-template>
<!-- end of template -->
