<section class="container content-section">
    <h2 class="page-title" translate>
        Employee.Header
        <span class="sub-title" translate>Employee.Description</span>
    </h2>
    <div class="row">
        <ng-container *ngIf="!isEditUser">
            <app-profile (editUserClicked)="editUser()" [user]="user" class="col-lg-5"></app-profile>
        </ng-container>
        <ng-container *ngIf="isEditUser">
            <app-profile-edit (canceled)="cancelEdit()" (saved)="exitSaving($event)" [user]="user" class="col-lg-5"></app-profile-edit>
        </ng-container>
        <app-actions class="col-lg-7"></app-actions>
    </div>
    <app-manager-actions></app-manager-actions>
    <app-notification></app-notification>
</section>

<!-- templates -->
<ng-template #directDepositTemplate>
  <ul>
      <li>Primary routing number:<span class="modal-success-value">{{directDepositPayload.PrimaryRoutingNumber}}</span></li>
      <li>Primary account number:<span class="modal-success-value">{{directDepositPayload.PrimaryAccountNumber}}</span></li>
      <li>Percentage of allocation for first account:<span class="modal-success-value">{{directDepositPayload.PercentageFirstAccount}}</span></li>
      <li>Secondary routing number:<span class="modal-success-value">{{directDepositPayload.SecondaryRoutingNumber}}</span></li>
      <li>Secondary account number:<span class="modal-success-value">{{directDepositPayload.SecondaryAccountNumber}}</span></li>
      <li>Percentage of allocation for second account:<span class="modal-success-value">{{directDepositPayload['Date Signed']}}</span></li>
      <li>Date:<span class="modal-success-value">{{directDepositPayload.PrimaryAccountNumber}}</span></li>
  </ul>
</ng-template>

<ng-template #defaultNotificationTemplate>
  <p>Success!</p>
</ng-template>
<!-- end of templates -->
