<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DocuSign</title>
    <meta name="description"
          content="">
    <meta name="keywords"
          content="">
    <link rel="stylesheet" href="assets/css/main.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header" role="banner">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light p-0 align-items-lg-end">
                <a class="navbar-brand d-inline-flex align-items-center p-0" href="#">
                                <span class="navbar-brand-image d-inline-block">
                                    <img src="assets/img/logo.svg" alt="">
                                </span>
                    MyHR
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">GitHub Source</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main role="main" class="content">
        <div class="container">
            <h1>heading h1</h1>
            <h2>heading h2</h2>
            <h3>heading h3</h3>
            <h1>btn</h1>
            <h2>btn small</h2>
            <button class="btn btn-outline-warning btn-sm">btn sm</button>
            <button class="btn btn-warning btn-sm">btn sm</button>
            <button class="btn btn-white btn-sm">qweqw</button>
            <h2>btn medium</h2>
            <button class="btn btn-outline-warning">qweqw</button>
            <button class="btn btn-warning">qweqw</button>
            <button class="btn btn-white">qweqw</button>
            <h2>btn large</h2>
            <button class="btn btn-outline-warning btn-lg">btn-lg</button>
            <button class="btn btn-warning btn-lg">btn-lg</button>
            <button class="btn btn-white btn-lg">qweqw</button>

        </div>
    </main>
    <footer role="contentinfo" class="footer bg-white pt-4 pb-4">
        <div class="container">
            <span class="copyright">© 2019 DocuSign Inc.</span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
