<div class="action-cards-section">
    <h4 translate>EmployeeActions.Header</h4>
    <div class="section-card">
        <div class="card-header">
            <div class="card-info">
                <div class="card-icon">
                    <img src="assets/img/icon-1.svg" alt="icon" />
                </div>
                <span class="card-description" translate>EmployeeActions.DirectDeposit.Title</span>
            </div>
            <div class="card-actions">
                <button class="btn btn-warning btn-sm" (click)="sendEnvelope(documentType.DirectDeposit)" translate>
                    EmployeeActions.DirectDeposit.UpdateButton
                </button>
                <button
                    class="btn btn-link link-with-arrow collapsed"
                    data-toggle="collapse"
                    data-target="#collapse-1"
                    aria-expanded="false"
                    aria-controls="collapse-1"
                    translate
                >
                    EmployeeActions.DirectDeposit.ViewInfoButton
                </button>
            </div>
        </div>
        <div class="card-content collapse" id="collapse-1" aria-labelledby="heading-1">
            <div class="card-body">
                <span class="card-body-title" translate>EmployeeActions.DirectDeposit.Description</span>
                <ul [innerHTML]="'EmployeeActions.DirectDeposit.FunctionsList' | translate"></ul>
                <div class="collapse-inset-wrapper">
                    <button
                        class="btn btn-link link-with-arrow link-with-arrow-orange collapsed"
                        data-toggle="collapse"
                        data-target="#collapse-inset-1"
                        aria-expanded="false"
                        aria-controls="collapse-inset-1"
                        translate
                    >
                        EmployeeActions.DirectDeposit.BehindTheSceneButton
                    </button>
                    <div
                        class="collapse-inset-body collapse"
                        id="collapse-inset-1"
                        aria-labelledby="heading-1"
                        [innerHTML]="'EmployeeActions.DirectDeposit.CodeFlow' | translate"
                    ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-card">
        <div class="card-header">
            <div class="card-info">
                <div class="card-icon">
                    <img src="assets/img/icon-2.svg" alt="icon" />
                </div>
                <span class="card-description" translate>EmployeeActions.W4TaxWithholding.Title</span>
            </div>
            <div class="card-actions">
                <button class="btn btn-warning btn-sm" (click)="sendEnvelope(documentType.W4)" translate>
                    EmployeeActions.W4TaxWithholding.SelectButton
                </button>
                <button
                    class="btn btn-link link-with-arrow collapsed"
                    data-toggle="collapse"
                    data-target="#collapse-2"
                    aria-expanded="false"
                    aria-controls="collapse-2"
                    translate
                >
                    EmployeeActions.W4TaxWithholding.ViewInfoButton
                </button>
            </div>
        </div>
        <div class="card-content collapse" id="collapse-2" aria-labelledby="heading-2">
            <div class="card-body">
                <span class="card-body-title" translate>EmployeeActions.W4TaxWithholding.Description</span>
                <ul [innerHTML]="'EmployeeActions.W4TaxWithholding.FunctionsList' | translate"></ul>
                <div class="collapse-inset-wrapper">
                    <button
                        class="btn btn-link link-with-arrow link-with-arrow-orange collapsed"
                        data-toggle="collapse"
                        data-target="#collapse-inset-1"
                        aria-expanded="false"
                        aria-controls="collapse-inset-1"
                        translate
                    >
                        EmployeeActions.W4TaxWithholding.BehindTheSceneButton
                    </button>
                    <div
                        class="collapse-inset-body collapse"
                        id="collapse-inset-1"
                        aria-labelledby="heading-1"
                        [innerHTML]="'EmployeeActions.W4TaxWithholding.CodeFlow' | translate"
                    ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-card">
        <div class="card-header">
            <div class="card-info">
                <div class="card-icon">
                    <img src="assets/img/icon-3.svg" alt="icon" />
                </div>
                <span class="card-description" translate>EmployeeActions.TimeCard.Title</span>
            </div>
            <div class="card-actions">
                <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#timeCard" (click)="sendTimeCard()" translate>
                    EmployeeActions.TimeCard.EnterButton
                </button>
                <button
                    class="btn btn-link link-with-arrow collapsed"
                    data-toggle="collapse"
                    data-target="#collapse-3"
                    aria-expanded="false"
                    aria-controls="collapse-3"
                    translate
                >
                    EmployeeActions.TimeCard.ViewInfoButton
                </button>
            </div>
        </div>
        <div class="card-content collapse" id="collapse-3" aria-labelledby="heading-3">
            <div class="card-body">
                <span class="card-body-title" translate>EmployeeActions.TimeCard.Description</span>
                <ul [innerHTML]="'EmployeeActions.TimeCard.FunctionsList' | translate"></ul>
                <div class="collapse-inset-wrapper">
                    <button
                        class="btn btn-link link-with-arrow link-with-arrow-orange collapsed"
                        data-toggle="collapse"
                        data-target="#collapse-inset-1"
                        aria-expanded="false"
                        aria-controls="collapse-inset-1"
                        translate
                    >
                        EmployeeActions.TimeCard.BehindTheSceneButton
                    </button>
                    <div
                        class="collapse-inset-body collapse"
                        id="collapse-inset-1"
                        aria-labelledby="heading-1"
                        [innerHTML]="'EmployeeActions.TimeCard.CodeFlow' | translate"
                    ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-card">
        <div class="card-header">
            <div class="card-info">
                <div class="card-icon">
                    <img src="assets/img/icon-4.svg" alt="icon" />
                </div>
                <span class="card-description" translate>EmployeeActions.TuitionReimbursement.Title</span>
            </div>
            <div class="card-actions">
                <button class="btn btn-warning btn-sm" (click)="sendEnvelope(documentType.TuitionRbt)" translate>
                    EmployeeActions.TuitionReimbursement.ApplyButton
                </button>
                <button
                    class="btn btn-link link-with-arrow collapsed"
                    data-toggle="collapse"
                    data-target="#collapse-4"
                    aria-expanded="false"
                    aria-controls="collapse-4"
                    translate
                >
                    EmployeeActions.TuitionReimbursement.ViewInfoButton
                </button>
            </div>
        </div>
        <div class="card-content collapse" id="collapse-4" aria-labelledby="heading-4">
            <div class="card-body">
                <span class="card-body-title" translate>EmployeeActions.TuitionReimbursement.Description</span>
                <ul [innerHTML]="'EmployeeActions.TuitionReimbursement.FunctionsList' | translate"></ul>
                <div class="collapse-inset-wrapper">
                    <button
                        class="btn btn-link link-with-arrow link-with-arrow-orange collapsed"
                        data-toggle="collapse"
                        data-target="#collapse-inset-1"
                        aria-expanded="false"
                        aria-controls="collapse-inset-1"
                        translate
                    >
                        EmployeeActions.TuitionReimbursement.BehindTheSceneButton
                    </button>
                    <div
                        class="collapse-inset-body collapse"
                        id="collapse-inset-1"
                        aria-labelledby="heading-1"
                        [innerHTML]="'EmployeeActions.TuitionReimbursement.CodeFlow' | translate"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
