<div>
  <div>
    Employee actions
  </div>
  <ul class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action-link" (click)="doAction()">
      Update direct deposit information
    </a>
    <a class="list-group-item list-group-item-action-link" (click)="doAction()">
      Update direct deposit information</a
    >
    <a
      class="list-group-item list-group-item-action-link"
      (click)="sendEnvelope('W4')"
      >Select W-4 tax withholding</a
    >
    <a class="list-group-item list-group-item-action-link" (click)="doAction()"
      >Enter a time card</a
    >
    <a class="list-group-item list-group-item-action-link" (click)="doAction()"
      >Tuition Reimbursement</a
    >
  </ul>
</div>
<div>
  <div>
    Manager actions
  </div>
  <ul class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action" (click)="doAction()"
      >Send an offer letter to candidate</a
    >
    <a
      class="list-group-item list-group-item-action"
      (click)="sendEnvelope('i9')"
      >Send an I-9 verification Request to candidate using IDV</a
    >
  </ul>
</div>
