<section class="hero-section hero-home">
  <div class="container-fluid">
    <div class="img-holder absolute-img">
      <img src="assets/img/hero-absolute-image.png" alt="dots" />
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="hero-info">
          <h1>Welcome to MyHR</h1>
          <h4>Self-service Human Resources Portal</h4>
          <div
            class="buttons-group d-flex flex-column flex-xl-row justify-content-center justify-content-md-start align-items-center align-items-md-start"
          >
            <button
              class="btn btn-warning btn-lg"
              (click)="handleAuth(authType.CodeGrant)"
            >
              Log in with your DocuSign account
            </button>
            <button
              class="btn btn-white btn-lg"
              (click)="handleAuth(authType.JWT)"
            >
              Log in with a test account
            </button>
          </div>
          <div class="cta-section">
            <span class="cta-title"
              >Note: This sample app is written in C#</span
            >
            <div class="cta-row">
              <div class="img-holder">
                <img src="assets/img/download.svg" alt="download icon" />
              </div>
              <a href="#">Get the Visual Studio Ectension</a>
            </div>
            <div class="cta-row">
              <div class="img-holder">
                <img src="assets/img/download.svg" alt="download icon" />
              </div>
              <a href="#">Get the Visual Studio Code. Extension</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="main-image">
          <img src="assets/img/hero.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<app-info></app-info>
