<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to MyHR</h1>
    <p class="lead text-muted">Self-service Human Resources Portal</p>
  </div>
</section>
<div class="container-fluid">
  <div class="jumbotron text-center">
    <div class="btn d-flex justify-content-around">
      <div class="btn-group" role="group">
        <a class="btn btn-primary" href="https://localhost:5001/Account/Login">
          <i class="fas fa-cog fa-spin"></i>
          <span translate>Login in with DocuSign account</span>
        </a>
      </div>
      <div class="btn-group" role="group">
        <a
          class="btn btn-primary"
          href="https://localhost:5001/Account/Login?authType=JWT"
        >
          <i class="fas fa-cog fa-spin"></i>
          <span translate>Login in with test account</span>
        </a>
      </div>
    </div>
  </div>
</div>
<app-info></app-info>
