<div class="col-lg-5">
  <h4>Your Account Details</h4>
  <div class="user-profile">
    <div class="static">
      <div class="edit">
        <button class="edit-icon">
          <img src="assets/img/edit.svg" alt="" />
        </button>
      </div>
      <div class="user-avatar">
        <div class="user-image">
          <img src="assets/img/avatar.png" alt="avatar" />
        </div>
        <div class="user-info">
          <span>Kevin</span>
          <span>Dukkonovsky </span>
        </div>
      </div>
      <div class="profile-row row">
        <div class="profile-title col-lg-3">ID</div>
        <div class="profile-description col-lg-9">122088</div>
      </div>
      <div class="profile-row row">
        <div class="profile-title col-lg-3">Hire Date</div>
        <div class="profile-description col-lg-9">03/04/20</div>
      </div>
      <div class="profile-row row">
        <div class="profile-title col-lg-3">Address</div>
        <div class="profile-description col-lg-9">
          <span>123 Merry Lane NP00000000</span>
          <span>East Hanover,</span>
          <span>New Jersey, 07936</span>
        </div>
      </div>
    </div>
  </div>
</div>
