<form [formGroup]="timecardForm" novalidate (ngSubmit)="getClickWrap()">
  <div class="form-group">
    <label for="Monday" class="col-form-label">Tuesday:</label>
    <input
      formControlName="Monday"
      type="text"
      class="form-control"
      id="Monday"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        timecardForm.controls['Monday'].invalid &&
        timecardForm.controls['Monday'].touched
      "
    >
      Enter a value
    </div>
  </div>
  <div class="form-group">
    <label for="Tuesday" class="col-form-label">Tuesday:</label>
    <input
      formControlName="Tuesday"
      type="text"
      class="form-control"
      id="Tuesday"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        timecardForm.controls['Tuesday'].invalid &&
        timecardForm.controls['Tuesday'].touched
      "
    >
      Enter a value
    </div>
  </div>
  <div class="form-group">
    <label for="Wednesday" class="col-form-label">Wednesday:</label>
    <input
      formControlName="Wednesday"
      type="text"
      class="form-control"
      id="Wednesday"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        timecardForm.controls['Wednesday'].invalid &&
        timecardForm.controls['Wednesday'].touched
      "
    >
      Enter a value
    </div>
  </div>
  <div class="form-group">
    <label for="Thursday" class="col-form-label">Thursday:</label>
    <input
      formControlName="Thursday"
      type="text"
      class="form-control"
      id="Thursday"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        timecardForm.controls['Thursday'].invalid &&
        timecardForm.controls['Thursday'].touched
      "
    >
      Enter a value
    </div>
  </div>
  <div class="form-group">
    <label for="Friday" class="col-form-label">Friday:</label>
    <input
      formControlName="Friday"
      type="text"
      class="form-control"
      id="Friday"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        timecardForm.controls['Friday'].invalid &&
        timecardForm.controls['Friday'].touched
      "
    >
      Enter a value
    </div>
  </div>
  <div class="form-group">
    <label for="Saturday" class="col-form-label">Saturday:</label>
    <input
      formControlName="Saturday"
      type="text"
      class="form-control"
      id="Saturday"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        timecardForm.controls['Saturday'].invalid &&
        timecardForm.controls['Saturday'].touched
      "
    >
      Enter a value
    </div>
  </div>
  <div class="form-group">
    <label for="Sunday" class="col-form-label">Sunday:</label>
    <input
      formControlName="Sunday"
      type="text"
      class="form-control"
      id="Sunday"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        timecardForm.controls['Sunday'].invalid &&
        timecardForm.controls['Sunday'].touched
      "
    >
      Enter a value
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
